{{if num === 6}}
<div class="no-light-icon disc-icon middle">
    <div class="prizes-no">
        <div class="text">{{if item === '001'}}${loc.no}{{else}}${loc.no2}{{/if}}</div>
        <div class="prizes-no-icon prizes-icon"></div>
        <div class="share">
            <div class="icon icon-share share-btn">${loc.noShare}</div>
        </div>
    </div>
</div>
{{else}}
<div class="light-icon disc-icon middle">
    <div class="prizes-${num} prizes">
        <div class="text">${loc[num]}</div>
        <div class="prizes-had-icon prizes-icon">
            {{if num === 1}}
            <div class="prizes-iphone-icon prizes-icon"></div>
            {{else num === 2}}
            <div class="prizes-100-icon prizes-icon"></div>
            {{else num === 3}}
            <div class="prizes-50-icon prizes-icon"></div>
            {{else num === 4}}
            <div class="prizes-10-icon prizes-icon"></div>
            {{/if}}
        </div>
        <div class="tips">${loc.tips}</div>
        <div class="call-us">${loc.callUs}</div>
        <div class="share">
            <div class="icon icon-share share-btn">${loc.share}</div>
        </div>
    </div>
</div>
{{/if}}