<div class="index-prizes">
    <div class="title">${prizeLoc.title}</div>
    <div class="prizes-list">
        <ul>
            <li class="item">
                <div class="p100">
                    <div class="btn-icon icon-prizes-100 prize">
                        <div class="brand-icon icon-silver brand"></div>
                        <p>${prizeLoc.tip}</p>
                    </div>
                    <div class="info">
                        <div class="level">${prizeLoc.list[1].level}</div>
                        <div class="name">${prizeLoc.list[1].name}</div>
                        <!--<div class="price">${prizeLoc.list[1].price}</div>-->
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="iphone">
                    <div class="btn-icon icon-prizes-iphone prize">
                        <div class="brand-icon icon-gold brand"></div>
                    </div>
                    <div class="info">
                        <div class="level">${prizeLoc.list[0].level}</div>
                        <div class="name">${prizeLoc.list[0].name}</div>
                        <!--<div class="price">${prizeLoc.list[0].price}</div>-->
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="p50">
                    <div class="btn-icon icon-prizes-50 prize">
                        <div class="brand-icon icon-copper brand"></div>
                        <p>${prizeLoc.tip}</p>
                    </div>
                    <div class="info">
                        <div class="level">${prizeLoc.list[2].level}</div>
                        <div class="name">${prizeLoc.list[2].name}</div>
                        <!--<div class="price">${prizeLoc.list[2].price}</div>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>