<div class="index-turntable">
    <div class="cover middle">
        <!-- 抽奖转盘 -->
        <div class="disc-show middle">
            <div class="light-icon disc-icon middle">
                <div class="disc-bg-icon">
                    <img src="./images/disc-bg.png">
                    <div class="turntable">
                        <img src="${src}">
                    </div>
                    <div class="operation opt-btn pointer-icon arr-icon"></div>
                </div>
            </div>
            <div class="prize-icon disc-icon"></div>
        </div>
        <!-- 奖品 -->
        <div class="prize-show middle"></div>
        <div class="close icon icon-close"></div>
    </div>
</div>