<div class="index-prizes">
    <div class="title">${prizeLoc.title}</div>
    <div class="prizes-list">
        <ul>
            <li class="item iphone">
                <div>
                    <div class="icon icon-prizes-iphone"></div>
                    <div class="info">
                        <div class="level">${prizeLoc.list[0].level}</div>
                        <div class="name">${prizeLoc.list[0].name}</div>
                        <!--<div class="price">${prizeLoc.list[0].price}</div>-->
                    </div>
                </div>
            </li>
            <li class="item">
                <div>
                    <div class="icon icon-prizes-100"></div>
                    <div class="info">
                        <div class="level">${prizeLoc.list[1].level}</div>
                        <div class="name">${prizeLoc.list[1].name}</div>
                        <!--<div class="price">${prizeLoc.list[1].price}</div>-->
                    </div>
                </div>
            </li>
            <li class="item">
                <div>
                    <div class="icon icon-prizes-50"></div>
                    <div class="info">
                        <div class="level">${prizeLoc.list[2].level}</div>
                        <div class="name">${prizeLoc.list[2].name}</div>
                        <!--<div class="price">${prizeLoc.list[2].price}</div>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>