<div class="index-turntable">
    <div class="cover middle">
        <div class="light-icon disc-icon">
            <div class="disc-bg-icon">
                <img src="./images/disc-bg.png">
                <div class="turntable">
                    <img src="${src}">
                </div>
                <div class="operation opt-btn pointer-icon disc-icon"></div>
            </div>
        </div>
        <div class="prize-icon disc-icon"></div>
        <div class="close close-icon disc-icon"></div>
    </div>
</div>