<div class="index-tickets">
    <div class="ticket-list">
        <div class="ticket ticket-one {{if status['001'] === 2}}ticket-win{{else status['001'] === 1}}{{else}}lock{{/if}}">
            <div class="bg icon {{if status['001'] === 2}}icon-ticket-win{{else status['001'] === 1}}icon-ticket-action{{else}}icon-ticket{{/if}}">
                <div class="ticket-logo">${ticketLoc.bg}<span>1</span></div>
            </div>
            <div class="massage-box">
                {{if !status || !status['001']}}
                <!-- 邀请进度中 -->
                <div class="msg">${ticketLoc.unSuccessTip(3)}</div>
                {{else status['001'] === 1}}
                <!-- 有抽奖资格 -->
                <div class="msg">${ticketLoc.successTip(3, true)}</div>
                {{else status['001'] === 2 && prize['001']}}
                <!-- 中奖 -->
                <div class="middle had-win">
                    <div class="msg win">${ticketLoc.winning.tip(prize['001'])}</div>
                    <div class="text">${ticketLoc.winning.callYC}</div>
                    <div class="call-us">
                        ${ticketLoc.winning.callUs}
                        <!--<a href="mailto:2017winiphone@yeecall.com">${ticketLoc.winning.callUs}</a>-->
                    </div>
                </div>
                {{else}}
                <!-- 未中奖 -->
                <div class="msg">${ticketLoc.unWinning.tip}</div>
                {{/if}}
            </div>
            <div class="operation-box">
                {{if !status || !status['001']}}
                <!-- 邀请进度中 -->
                <div class="shadow progress">
                    <div class="text">${ticketLoc.invited}</div>
                    <div class="people-num">
                        <span class="num">${num}</span> /3 ${ticketLoc.unit}
                    </div>
                    <div class="progress-bar">
                        <div class="bar">
                            <div class="pro" style="width: ${num / 3 * 100}%;"></div>
                        </div>
                    </div>
                </div>
                {{else status['001'] === 1}}
                <!-- 有抽奖资格 -->
                <div class="btn draw btn-icon icon-draw-btn" data-item="001">
                    <div class="gift small-icon icon-gift"></div>
                    <div class="text">${ticketLoc.lotto}</div>
                </div>
                {{else status['001'] === 2 && prize['001']}}
                <!-- 中奖 -->
                <div class="btn win btn-icon icon-draw-btn" data-prize="${prize['001']}">
                    {{if prize['001'] == 1}}
                    <i class="prize iphone small-icon icon-prize-iphone"></i>
                    {{else prize['001'] == 2}}
                    <i class="prize btn-icon icon-prize-100 card">
                        <span>${tip}</span>
                    </i>
                    {{else prize['001'] == 3}}
                    <i class="prize btn-icon icon-prize-50 card">
                        <span>${tip}</span>
                    </i>
                    {{else prize['001'] == 4}}
                    <i class="prize btn-icon icon-prize-10 card">
                        <span>${tip}</span>
                    </i>
                    {{/if}}
                    <div class="text">${ticketLoc.winning.share}</div>
                </div>
                {{else}}
                <!-- 未中奖 -->
                <div class="btn btn-icon icon-draw-btn un-win">
                    <div class="share small-icon icon-share"></div>
                    <div class="text">${ticketLoc.unWinning.share}</div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="ticket ticket-two {{if status['002'] === 2}}ticket-win{{else status['002'] === 1}}{{else}}lock{{/if}}">
            <div class="bg icon {{if status['002'] === 2}}icon-ticket-win{{else status['002'] === 1}}icon-ticket-action{{else}}icon-ticket{{/if}}">
                <div class="ticket-logo">${ticketLoc.bg}<span>2</span></div>
            </div>
            <div class="massage-box">
                {{if !status['002']}}
                <!-- 锁定 -->
                <div class="msg">${ticketLoc.tipTwo}</div>
                {{else !status || !status['002']}}
                <!-- 邀请进度中 -->
                <div class="msg">${ticketLoc.unSuccessTip(10)}<br/><span>${ticketLoc.tipTwo2}</span></div>
                {{else status['002'] === 1}}
                <!-- 有抽奖资格 -->
                <div class="msg">${ticketLoc.successTip(10)}</div>
                {{else status['002'] === 2 && prize['002']}}
                <!-- 中奖 -->
                <div class="middle had-win">
                    <div class="msg win">${ticketLoc.winning.tip(prize['002'])}</div>
                    <div class="text">${ticketLoc.winning.callYC}</div>
                    <div class="call-us">
                        <!--<a href="mailto:2017winiphone@yeecall.com">${ticketLoc.winning.callUs}</a>-->
                        ${ticketLoc.winning.callUs}
                    </div>
                </div>
                {{else}}
                <!-- 未中奖 -->
                <div class="msg">${ticketLoc.unWinning.tip2}</div>
                {{/if}}
            </div>
            <div class="operation-box">
                {{if num < 3}}
                <!-- 锁定 -->
                <div class="shadow">
                    <div class="lock small-icon icon-lock"></div>
                </div>
                {{else !status || !status['002']}}
                <!-- 邀请进度中 -->
                <div class="shadow progress">
                    <div class="text">${ticketLoc.invited}</div>
                    <div class="people-num">
                        <span class="num">${num}</span> /10 ${ticketLoc.unit}
                    </div>
                    <div class="progress-bar">
                        <div class="bar">
                            <div class="pro" style="width: ${num / 10 * 100}%;"></div>
                        </div>
                    </div>
                </div>
                {{else status['002'] === 1}}
                <!-- 有抽奖资格 -->
                <div class="btn draw btn-icon icon-draw-btn" data-item="002">
                    <div class="gift small-icon icon-gift"></div>
                    <div class="text">${ticketLoc.lotto}</div>
                </div>
                {{else status['002'] === 2 && prize['002']}}
                <!-- 中奖 -->
                <div class="btn win btn-icon icon-draw-btn" data-prize="${prize['002']}">
                    {{if prize['002'] == 1}}
                    <i class="prize iphone small-icon icon-prize-iphone"></i>
                    {{else prize['002'] == 2}}
                    <i class="prize btn-icon icon-prize-100 card">
                        <span>${tip}</span>
                    </i>
                    {{else prize['002'] == 3}}
                    <i class="prize btn-icon icon-prize-50 card">
                        <span>${tip}</span>
                    </i>
                    {{else prize['002'] == 4}}
                    <i class="prize btn-icon icon-prize-10 card">
                        <span>${tip}</span>
                    </i>
                    {{/if}}
                    <div class="text">${ticketLoc.winning.share}</div>
                </div>
                {{else}}
                <!-- 未中奖 -->
                <div class="btn btn-icon icon-draw-btn un-win">
                    <div class="share small-icon icon-share"></div>
                    <div class="text">${ticketLoc.unWinning.share}</div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>