<div class="index-turntable">
    <div class="cover middle">
        <!-- 抽奖转盘 -->
        <div class="disc-show middle">
            <div class="light-icon disc-icon middle">
                <div class="disc-bg-icon">
                    <img src="./images/disc-bg.png">
                    <div class="turntable">
                        <img src="${src}">
                    </div>
                    <div class="operation opt-btn pointer-icon disc-icon"></div>
                </div>
            </div>
            <div class="prize-icon disc-icon"></div>
        </div>
        <!-- 奖品 -->
        <div class="prize-show middle">
            <div class="no-light-icon disc-icon middle">
                <div class="prizes-no">
                    <div class="text">${loc.no}</div>
                    <div class="prizes-no-icon prizes-icon"></div>
                    <div class="share">
                        <div class="icon icon-share share-btn">${loc.noShare}</div>
                    </div>
                </div>
            </div>
            <div class="light-icon disc-icon middle">
                <div class="prizes-1 prizes">
                    <div class="text">${loc[1]}</div>
                    <div class="prizes-had-icon prizes-icon">
                        <div class="prizes-iphone-icon prizes-icon"></div>
                    </div>
                    <div class="tips">${loc.tips}</div>
                    <div class="call-us">${loc.callUs}</div>
                    <div class="share">
                        <div class="icon icon-share share-btn">${loc.share}</div>
                    </div>
                </div>
                <div class="prizes-2 prizes">
                    <div class="text">${loc[2]}</div>
                    <div class="prizes-had-icon prizes-icon">
                        <div class="prizes-100-icon prizes-icon"></div>
                    </div>
                    <div class="tips">${loc.tips}</div>
                    <div class="call-us">${loc.callUs}</div>
                    <div class="share">
                        <div class="icon icon-share share-btn">${loc.share}</div>
                    </div>
                </div>
                <div class="prizes-3 prizes">
                    <div class="text">${loc[3]}</div>
                    <div class="prizes-had-icon prizes-icon">
                        <div class="prizes-50-icon prizes-icon"></div>
                    </div>
                    <div class="tips">${loc.tips}</div>
                    <div class="call-us">${loc.callUs}</div>
                    <div class="share">
                        <div class="icon icon-share share-btn">${loc.share}</div>
                    </div>
                </div>
                <div class="prizes-4 prizes">
                    <div class="text">${loc[4]}</div>
                    <div class="prizes-had-icon prizes-icon">
                        <div class="prizes-10-icon prizes-icon"></div>
                    </div>
                    <div class="tips">${loc.tips}</div>
                    <div class="call-us">${loc.callUs}</div>
                    <div class="share">
                        <div class="icon icon-share share-btn">${loc.share}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close icon icon-close"></div>
    </div>
</div>