<div class="share-join">
    <div class="bg">
        <div class="close icon icon-close"></div>
        <div class="content">
            <div class="title">${join.title}</div>
            <div class="steps">
                <div class="step step-1">
                    <div class="number">1</div>
                    <div class="tip">${join.tip1.text}</div>
                    <div class="btn download">
                        <div class="icon icon-yeecall"></div>
                        ${join.tip1.btn}
                    </div>
                </div>
                <div class="step step-2">
                    <div class="number">2</div>
                    <div class="tip">${join.tip2.text}</div>
                    <div class="btn ${join.tip2.class}">
                        <div class="icon icon-btn-bg"></div>
                        ${join.tip2.btn}
                    </div>
                </div>
            </div>
            <div class="open"><a href="yeecallinvite://">${join.open}</a></div>
        </div>
    </div>
</div>