<div class="index-scroll-bar">
    <div class="scroll-warp">
        <ul class="scroll-1">
            {{each(key, value) list}}
            <li>
                <div class="item">
                    <span class="phone">${value.id}</span>&nbsp;${winners.msg}
                </div>
            </li>
            {{/each}}
        </ul>
        <ul class="scroll-2">
            {{each(key, value) list}}
            <li>
                <div class="item">
                    <span class="phone">${value.id}</span>&nbsp;${winners.msg}
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>