.main {
  overflow-y: scroll;
  height: 100%;
  section {
    display: none;
    z-index: -1;
    .action {
      text-align: center;
      margin-top: 3rem;
      .btn {
        transition: background .2s ease;
        display: inline-block;
        border-radius: .1rem;
        line-height: 1.8rem;
        background: #ffb224;
        font-size: .7rem;
        border: none;
        width: 57.6%;
        color: #fff;
        &:active {
          background: #ffa520;
        }
      }
    }
    &.page-list {
      display: inline-block;
      text-align: center;
      width: 100%;
      z-index: 1;
      .desc {
        padding: 2rem 0 2.5rem 0;
        line-height: 1.2rem;
        font-weight: 500;
        font-size: .9rem;
        margin: 0 auto;
        color: #33180a;
        width: 80%;
      }
      .subs-list {
        margin: 0 auto;
        width: 89.3%;
        .sub-item {
          box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2);
          transition: all .2s ease;
          border-radius: .1rem;
          margin-bottom: .5rem;
          line-height: 2.7rem;
          background: #fff;
          font-size: .7rem;
          color: #33180a;
          &.active {
            background: #99705c;
            color: #fff;
          }
        }
      }
    }
    //&.page-follow {
    //  box-sizing: border-box;
    //  padding: 0 1rem;
    //  width: 100%;
    //  .back {
    //    line-height: 1.75rem;
    //    margin-top: 1rem;
    //    .btn {
    //      display: inline-block;
    //      padding-left: 2rem;
    //      position: relative;
    //      font-size: 1rem;
    //      color: #ffb224;
    //      img {
    //        transform: translateY(-50%);
    //        vertical-align: middle;
    //        position: absolute;
    //        width: .85rem;
    //        float: left;
    //        top: 45%;
    //        left: 0;
    //      }
    //    }
    //  }
    //  .subs-card {
    //    box-shadow: 0 5px 14px 5px rgba(0, 0, 0, 0.2);
    //    padding: 2.2rem .85rem 2rem .85rem;
    //    margin-top: 1.2rem;
    //    text-align: center;
    //    .subs-head {
    //      border-radius: 50%;
    //      overflow: hidden;
    //      margin: 0 auto;
    //      height: 5rem;
    //      width: 5rem;
    //      img {
    //        height: 100%;
    //        width: 100%;
    //      }
    //    }
    //    .subs-name {
    //      margin-top: .5rem;
    //      font-weight: 600;
    //      font-size: .9rem;
    //      color: #33180a;
    //    }
    //    .subs-desc {
    //      margin-top: 1.75rem;
    //      line-height: 1.2rem;
    //      font-size: .9rem;
    //      color: #33180a;
    //    }
    //  }
    //  .action {
    //    .btn {
    //      display: none;
    //    }
    //  }
    //}
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  user-select: none;
  padding: 0;
  margin: 0;
  &:focus {
    outline: none;
  }
}

html {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: inherit;
  cursor: inherit;
  color: inherit;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
}