html {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  min-height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.icon {
  background: url(../images/icons.png);
  display: inline-block;
  &.icon-banner-bg {
    background-position: 0 -10.7rem;
    background-size: 100%;
    height: 11.2rem;
    width: 100%;
  }
  &.icon-banner {
    background-position: -.775rem 0;
    background-size: 142.8%;
    height: 10.2rem;
    width: 18.9rem;
  }
}
