html {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  background: #272766;
  min-height: 100%;
  width: 100%;
}

html.no-scroll {
  overflow: hidden;
  height: 100%;
  body {
    overflow: hidden;
    height: 100%;
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.tip-arrow {
  text-align: center;
  box-sizing: border-box;
  margin-left: -1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  height: 3rem;
  width: 3rem;
  left: 50%;
  -webkit-animation: arrow 1s 3;
  animation: arrow 1s 3;
  .arr-down {
    display: inline-block;
    margin-top: 1rem;
    width: 55%;
    img {
      width: 100%;
    }
  }
}

.arrow-animate() {
  from {
    bottom: 2rem;
  }
  to {
    bottom: 1rem;
  }
}

@-webkit-keyframes arrow {
  .arrow-animate();
}

@keyframes arrow {
  .arrow-animate();
}

.middle {
  vertical-align: middle;
  display: inline-block;
  &:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    content: '';
    width: 0;
  }
}

.icon {
  background: url(../images/icons.png) no-repeat;
  display: inline-block;
  &.icon-banner-bg {
    background-position: 0 0;
    background-size: 100%;
    height: 11.2rem;
    width: 100%;
  }
  &.icon-ticket {
    background-position: 0 -19.8rem;
    background-size: 100%;
    width: 24.75rem;
    height: 7.5rem;
  }
  &.icon-ticket-win {
    background-position: 0 -43.5rem;
    background-size: 100%;
    width: 24.75rem;
    height: 7.5rem;
  }
  &.icon-ticket-action {
    background-position: 0 -11.5rem;
    background-size: 100%;
    width: 24.75rem;
    height: 7.5rem;
  }
  &.icon-share {
    background-position: 0 -25rem;
    background-size: 100%;
    height: 6.35rem;
    width: 22rem;
  }
  &.icon-share-action {
    background-position: 0 -31.8rem;
    background-size: 100%;
    height: 6.35rem;
    width: 22rem;
  }
  &.icon-close {
    background: url(../images/close.png) no-repeat;
    background-size: 75% 75%;
    height: 3rem;
    width: 3rem;
  }
}

.small-icon {
  background: url(../images/small-icon.png) no-repeat;
  display: inline-block;
  &.icon-start {
    background-position: 0 0;
    background-size: 100%;
    height: 2.675rem;
    width: 2.85rem;
  }
  &.icon-prize-iphone {
    background-position: 0 -2.35rem;
    background-size: 100%;
    height: 4rem;
    width: 2rem;
  }
  &.icon-gift {
    background-position: 0 -9.89rem;
    background-size: 100%;
    height: 2.9rem;
    width: 2.9rem;
  }
  &.icon-lock {
    background-position: 0 -12.8rem;
    background-size: 100%;
    height: 4rem;
    width: 2.8rem;
  }
  &.icon-yeecall {
    background-position: 0 -20.8rem;
    background-size: 100%;
    height: 3.75rem;
    width: 3.375rem;
  }
  &.icon-share {
    background-position: 0 -20.6rem;
    background-size: 100%;
    height: 3.9rem;
    width: 2.8rem;
  }
}

.card-zh-icon {
  background: url(../images/card-zh-icon.png) no-repeat;
  display: inline-block;
  &.icon-prize-100 {
    background-position: 0 .2rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prize-50 {
    background-position: 0 -4.7rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prize-10 {
    background-position: 0 -9.6rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prizes-100 {
    background-position: 0 0;
    background-size: 100%;
    height: 4.12rem;
    width: 6.12rem;
  }
  &.icon-prizes-50 {
    background-position: 0 -3.4rem;
    background-size: 100%;
    height: 3rem;
    width: 4.42rem;
  }
  &.icon-show-100 {
    background-position: 0 0;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
  &.icon-show-50 {
    background-position: 0 -7.5rem;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
  &.icon-show-10 {
    background-position: 0 -15rem;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
}

.card-en-icon {
  background: url(../images/card-en-icon.png) no-repeat;
  display: inline-block;
  &.icon-prize-100 {
    background-position: 0 .2rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prize-50 {
    background-position: 0 -4.7rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prize-10 {
    background-position: 0 -9.6rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prizes-100 {
    background-position: 0 0;
    background-size: 100%;
    height: 4.12rem;
    width: 6.12rem;
  }
  &.icon-prizes-50 {
    background-position: 0 -3.4rem;
    background-size: 100%;
    height: 3rem;
    width: 4.42rem;
  }
  &.icon-show-100 {
    background-position: 0 0;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
  &.icon-show-50 {
    background-position: 0 -7.5rem;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
  &.icon-show-10 {
    background-position: 0 -15rem;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
}

.card-ar-icon {
  background: url(../images/card-ar-icon.png) no-repeat;
  display: inline-block;
  &.icon-prize-100 {
    background-position: 0 .2rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prize-50 {
    background-position: 0 -4.7rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prize-10 {
    background-position: 0 -9.6rem;
    background-size: 100%;
    width: 6.25rem;
    height: 5.1rem;
  }
  &.icon-prizes-100 {
    background-position: 0 0;
    background-size: 100%;
    height: 4.12rem;
    width: 6.12rem;
  }
  &.icon-prizes-50 {
    background-position: 0 -3.4rem;
    background-size: 100%;
    height: 3rem;
    width: 4.42rem;
  }
  &.icon-show-100 {
    background-position: 0 0;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
  &.icon-show-50 {
    background-position: 0 -7.5rem;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
  &.icon-show-10 {
    background-position: 0 -15rem;
    background-size: 100%;
    height: 7rem;
    width: 10rem;
  }
}

.btn-icon {
  background: url(../images/btn-icon.png) no-repeat;
  display: inline-block;
  &.icon-draw-btn {
    background-position: 0 -7.2rem;
    background-size: 100%;
    height: 6.8rem;
    width: 7.5rem;
  }
  &.icon-draw-btn-action {
    background-position: 0 0;
    background-size: 100%;
    height: 6.8rem;
    width: 7.5rem;
  }
  &.icon-prizes-iphone {
    background-position: 0 -13.92rem;
    background-size: 100%;
    height: 8rem;
    width: 7.2rem;
  }
}

.arr-icon {
  background: url(../images/arrow-icon.png) no-repeat;
  display: inline-block;
  &.pointer-icon {
    background-position: 0 0;
    background-size: 100%;
    height: 9rem;
    width: 9rem;
  }
  &.pointer-flash-icon {
    background-position: 0 -29.2rem;
    background-size: 100%;
    height: 9rem;
    width: 9rem;
  }
  &.pointer-run-icon {
    background-position: 0 -9.1rem;
    background-size: 100%;
    height: 10rem;
    width: 9rem;
  }
  &.pointer-action-icon {
    background-position: 0 -19.4rem;
    background-size: 100%;
    height: 9rem;
    width: 9rem;
  }
}

.disc-icon {
  background: url(../images/disc-icon.png) no-repeat;
  display: inline-block;
  &.light-icon {
    background-position: 0 0;
    background-size: 100%;
    height: 33.25rem;
    width: 100%;
  }
  &.no-light-icon {
    background-position: 0 -43rem;
    background-size: 100%;
    height: 33.25rem;
    width: 100%;
  }
  &.prize-icon {
    background-position: 0 -33.5rem;
    background-size: 155.5%;
    height: 8.45rem;
    width: 17.35rem;
  }
}

.prizes-icon {
  background: url(../images/prize-icon.png) no-repeat;
  display: inline-block;
  &.prizes-no-icon {
    background-position: -19.4rem 0;
    background-size: 300%;
    height: 10.75rem;
    width: 12.75rem;
  }
  &.prizes-had-icon {
    background-position: 0 0;
    background-size: 210%;
    height: 15.25rem;
    width: 19.3rem;
  }
  &.prizes-iphone-icon {
    background-position: -30.5rem 0;
    background-size: 370%;
    height: 10.15rem;
    width: 10.25rem;
  }
}

.brand-icon {
  background: url(../images/brand-icon.png) no-repeat;
  display: inline-block;
  &.icon-gold {
    background-position: 0 0;
    background-size: 100%;
    height: 2.9rem;
    width: 2.05rem;
  }
  &.icon-silver {
    background-position: 0 -2.9rem;
    background-size: 100%;
    height: 2.9rem;
    width: 2.05rem;
  }
  &.icon-copper {
    background-position: 0 -6rem;
    background-size: 100%;
    height: 2.9rem;
    width: 2.05rem;
  }
  &.icon-free {
    background-position: 0 -13.2rem;
    background-size: 100%;
    height: 3rem;
    width: 2.9rem;
  }
}
