@import url(./modules/winnerBanner);
@import url(./modules/winnerPrize);
@import url(./modules/winnerShare);
@import url(./modules/loading);

@background: #272766;
@text-title: #ffbf24;

.main {
  background: @background;
  height: 100%;
  .title {
    margin-bottom: 1rem;
    color: @text-title;
    text-align: center;
    font-size: 1.35rem;
  }
}

.title-one() {
  background-position: 0 0;
  background-size: 100%;
  height: 8.5rem;
  width: 100%;
}

.title-two() {
  background-position: 0 -8.6rem;
  background-size: 100%;
  height: 8.8rem;
  width: 100%;
}

.zh .winner-icon {
  display: inline-block;
  &.title-one {
    background: url(../images/title-banner-zh.png) no-repeat;
    .title-one();
  }
  &.title-two {
    background: url(../images/title-banner-zh.png) no-repeat;
    .title-two();
  }
}

.ar .winner-icon {
  display: inline-block;
  &.title-one {
    background: url(../images/title-banner-ar.png) no-repeat;
    .title-one();
  }
  &.title-two {
    background: url(../images/title-banner-ar.png) no-repeat;
    .title-two();
  }
}

.en .winner-icon {
  display: inline-block;
  &.title-one {
    background: url(../images/title-banner-en.png) no-repeat;
    .title-one();
  }
  &.title-two {
    background: url(../images/title-banner-en.png) no-repeat;
    .title-two();
  }
}

.winner-icon {
  display: inline-block;
  &.icon-share {
    background: url(../images/share-icon.png) no-repeat;
    background-position: 0 -.2rem;
    background-size: 100%;
    height: 4.5rem;
    width: 22rem;
  }
  &.icon-share-action {
    background: url(../images/share-icon.png) no-repeat;
    background-position: 0 -4.4rem;
    background-size: 100%;
    height: 4.5rem;
    width: 22rem;
  }
}