@text-share: #fff;
@text-shadow: rgba(21, 98, 8, .5);

.index-share {
  text-align: center;
  .btn {
    .text {
      line-height: 6.35rem;
      color: @text-share;
      font-size: 1.5rem;
      text-shadow: 1 1 .15rem @text-shadow;
    }
  }
}