@cover-bg: rgba(12, 0, 31, .85);
@close: #878293;
@text-prize: #fff;
@text-card-tip: rgba(255, 255, 255, .4);
@text-prize-tips: #e3e3fe;
@text-prize-call-us: #92ff00;

@degree: 60;
@time-out: 1;

.index-turntable {
  display: none;
  .cover {
    background: @cover-bg;
    text-align: center;
    position: fixed;
    //height: 100%;
    //width: 100%;
    z-index: 5;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    .disc-show {
      height: 100%;
      width: 100%;
      .prize-icon {
        margin-left: -8.675rem;
        position: absolute;
        bottom: 0;
        left: 50%;
      }
      .light-icon {
        text-align: center;
        .disc-bg-icon {
          vertical-align: middle;
          display: inline-block;
          position: relative;
          width: 23.25rem;
          img {
            height: auto;
            width: 100%;
          }
        }
        .turntable {
          -webkit-transition: -webkit-transform 4s cubic-bezier(0.440, 1.095, 0.390, 1.095);
          transition: -webkit-transform 4s cubic-bezier(0.440, 1.095, 0.390, 1.095);
          -webkit-transition: transform 4s cubic-bezier(0.440, 1.095, 0.390, 1.095);
          transition: transform 4s cubic-bezier(0.440, 1.095, 0.390, 1.095);
          margin-left: -10.1rem;
          margin-top: -10.25rem;
          position: absolute;
          height: 20.2rem;
          width: 20.2rem;
          left: 50%;
          top: 50%;
          img {
            height: auto;
            width: 100%;
          }
          //&.running {
          //  .start-animation(start-rotation, e("@{time-out}s"));
          //}
        }
        .opt-btn {
          margin-left: -4.5rem;
          margin-top: -5rem;
          position: absolute;
          left: 50%;
          top: 50%;
          &.pointer-run-icon {
            margin-top: -5.5rem;
          }
        }
      }
    }
    .prize-show {
      position: relative;
      height: 100%;
      width: 100%;
      .no-light-icon {
        .prizes-no {
          vertical-align: middle;
          display: inline-block;
          width: 13.5rem;
          .text {
            margin-bottom: 1rem;
            line-height: 1.5rem;
            color: @text-prize;
            font-size: 1.2rem;
          }
        }
      }
      .light-icon {
        margin-top: -5rem;
        .prizes {
          vertical-align: middle;
          display: inline-block;
          width: 20rem;
          .text {
            margin-bottom: 4rem;
            color: @text-prize;
            font-size: 1.5rem;
          }
          .tips {
            color: @text-prize-tips;
            line-height: 1.2rem;
            margin-top: .7rem;
            padding: 0 2.6rem;
            font-size: .8rem;
          }
          .call-us {
            color: @text-prize-call-us;
            text-decoration: underline;
            display: inline-block;
            line-height: 0.7rem;
            margin-top: .8rem;
            font-size: .8rem;
            padding: .3rem;
          }
          .btn-icon {
            position: relative;
            margin-top: .5rem;
            .card-tip {
              color: @text-card-tip;
              position: absolute;
              text-align: center;
              font-size: .9rem;
              bottom: .5rem;
              width: 100%;
            }
          }
        }
      }
      .share {
        margin-left: -11rem;
        position: absolute;
        bottom: 3.5rem;
        left: 50%;
        .share-btn {
          line-height: 6.35rem;
          color: @text-prize;
          font-size: 1.5rem;
        }
      }
    }
    .close {
      position: absolute;
      right: 1rem;
      top: 2rem;
    }
  }
}

//.start-animation(@amt-name, @time) {
//  -webkit-animation: @amt-name @time linear 1 forwards;
//  animation: @amt-name @time linear 1 forwards;
//}
//
//.start-rotation() {
//  0% {
//    -webkit-transform: rotateZ(0);
//    transform: rotateZ(0);
//  }
//  100% {
//    -webkit-transform: rotateZ(ceil(@time-out / .9) * 360deg);
//    transform: rotateZ(ceil(@time-out / .9) * 360deg);
//  }
//}
//
//@-webkit-keyframes start-rotation {
//  .start-rotation();
//}
//
//@keyframes start-rotation {
//  .start-rotation();
//}
