@cover-bg: rgba(12, 0, 31, .85);
@close: #878293;
@text-prize: #fff;
@text-prize-tips: #e3e3fe;
@text-prize-call-us: #92ff00;

@degree: 60;
@time-out: 4;

.index-turntable {
  display: none;
  .cover {
    background: @cover-bg;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
    left: 0;
    top: 0;
    .disc-show {
      //display: none;
      height: 100%;
      width: 100%;
      .prize-icon {
        margin-left: -8.675rem;
        position: absolute;
        bottom: 0;
        left: 50%;
      }
      .light-icon {
        text-align: center;
        .disc-bg-icon {
          vertical-align: middle;
          display: inline-block;
          position: relative;
          width: 23.25rem;
          img {
            height: auto;
            width: 100%;
          }
        }
        .turntable {
          transition: transform 2.5s ease-out;
          margin-left: -10.1rem;
          margin-top: -10.25rem;
          position: absolute;
          height: 20.2rem;
          width: 20.2rem;
          left: 50%;
          top: 50%;
          img {
            height: auto;
            width: 100%;
          }
          &.running {
            .start-animation(start-rotation, e("@{time-out}s"));
          }
          //.stop-animation(360 / @degree);
        }
        .opt-btn {
          margin-left: -3.885rem;
          margin-top: -5rem;
          position: absolute;
          left: 50%;
          top: 50%;
        }
      }
    }
    .prize-show {
      display: none;
      position: relative;
      height: 100%;
      width: 100%;
      .no-light-icon {
        display: none;
        .prizes-no {
          vertical-align: middle;
          display: inline-block;
          width: 13.5rem;
          .text {
            margin-bottom: 1rem;
            line-height: 1.5rem;
            color: @text-prize;
            font-size: 1.2rem;
          }
        }
      }
      .light-icon {
        display: none;
        margin-top: -5rem;
        .prizes {
          display: none;
          //display: inline-block;
          vertical-align: middle;
          width: 20rem;
          .text {
            margin-bottom: 4rem;
            color: @text-prize;
            font-size: 1.5rem;
          }
          .tips {
            color: @text-prize-tips;
            line-height: 1.2rem;
            margin-top: .7rem;
            padding: 0 2.6rem;
            font-size: .8rem;
          }
          .call-us {
            border-bottom: thin solid @text-prize-call-us;
            color: @text-prize-call-us;
            display: inline-block;
            line-height: 0.7rem;
            margin-top: .5rem;
            font-size: .8rem;
          }
        }
      }
      .share {
        margin-left: -11rem;
        position: absolute;
        bottom: 3.5rem;
        left: 50%;
        .share-btn {
          line-height: 6.35rem;
          color: @text-prize;
          font-size: 1.5rem;
        }
      }
    }
    .close {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }
}

//.stop-rotation(@degree, @num) {
//  0% {
//    transform: rotateZ(0);
//  }
//  100% {
//    transform: rotateZ(750deg - @degree * @num);
//  }
//}
//
//.stop-animation(@num: 0) when (isnumber(@num)) and (@num > 0) {
//  @name: e("stop-animate-@{num}");
//
//  &.stop-@{num} {
//    -webkit-animation: @name 2s ease-out 1 forwards;
//    -o-animation: @name 2s ease-out 1 forwards;
//    animation: @name 2s ease-out 1 forwards;
//  }
//  @-webkit-keyframes @name {
//    .stop-rotation(@degree, @num);
//  }
//  @-ms-keyframes @name {
//    .stop-rotation(@degree, @num);
//  }
//  @-o-keyframes @name {
//    .stop-rotation(@degree, @num);
//  }
//  @keyframes @name {
//    .stop-rotation(@degree, @num);
//  }
//  .stop-animation(@num - 1);
//}

.start-animation(@amt-name, @time) {
  -webkit-animation: @amt-name @time linear 1 forwards;
  -o-animation: @amt-name @time linear 1 forwards;
  animation: @amt-name @time linear 1 forwards;
}

.start-rotation() {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(ceil(@time-out / .7) * 360deg);
  }
}

@-webkit-keyframes start-rotation {
  .start-rotation();
}

@-ms-keyframes start-rotation {
  .start-rotation();
}

@-o-keyframes start-rotation {
  .start-rotation();
}

@keyframes start-rotation {
  .start-rotation();
}
