.winner-share {
  margin-top: 1.4rem;
  .call-us-tip {
    text-align: center;
    line-height: .9rem;
    font-size: .9rem;
    color: #fff;
    .call-us {
      text-decoration: underline;
    }
  }
  .join-in {
    text-align: center;
    .btn {
      line-height: 6.35rem;
      font-size: 1.5rem;
      color: #fff;
    }
  }
  .statement {
    text-align: center;
    font-size: .9rem;
    color: #63688f;
    margin-bottom: 1.5rem;
  }
}