.winner-banner {
  .banner {
    position: relative;
    text-align: center;
    img {
      width: 90%;
      height: auto;
    }
    .time {
      position: absolute;
      text-align: center;
      font-size: .9rem;
      color: #fff;
      width: 100%;
      bottom: 6.7rem;
      left: 0;
    }
  }
}